USE [master]
GO
/****** Object:  Database [Netpincer]    Script Date: 2021-03-31 4:04:45 PM ******/
CREATE DATABASE [Netpincer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Netpincer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\Netpincer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Netpincer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\Netpincer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Netpincer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Netpincer]
GO
/****** Object:  User [Klaudia]    Script Date: 2021-03-31 4:04:45 PM ******/
CREATE USER [Klaudia] FOR LOGIN [Klaudia] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [Restaurant]    Script Date: 2021-03-31 4:04:45 PM ******/
CREATE SCHEMA [Restaurant]
GO
/****** Object:  Schema [Users]    Script Date: 2021-03-31 4:04:45 PM ******/
CREATE SCHEMA [Users]
GO
/****** Object:  Table [Users].[UsersAddress]    Script Date: 2021-03-31 4:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Users].[UsersAddress](
	[addressID] [int] IDENTITY(1,1) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[zipcode] [char](4) NOT NULL,
	[line1] [nvarchar](50) NOT NULL,
	[line2] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[addressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Users].[Users]    Script Date: 2021-03-31 4:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Users].[Users](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](30) NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[phoneNumber] [nvarchar](20) NOT NULL,
	[addressID] [int] NOT NULL,
	[userType] [int] NOT NULL,
	[email] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[getUser]    Script Date: 2021-03-31 4:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getUser](@usernameParam nvarchar(20),@passParam nvarchar(20), @userTypeParam int)
RETURNS TABLE AS
RETURN SELECT username, [password], lastName, firstName, phoneNumber, city, zipcode, line1, line2 ,userType, email
FROM Users.Users AS [u]
JOIN Users.UsersAddress ON Users.UsersAddress.addressID=[u].addressID
WHERE username=@usernameParam AND password=@passParam AND userType=@userTypeParam
GO
/****** Object:  Table [Restaurant].[RestaurantAddress]    Script Date: 2021-03-31 4:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Restaurant].[RestaurantAddress](
	[addressID] [int] IDENTITY(1,1) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[zipcode] [char](4) NOT NULL,
	[line1] [nvarchar](50) NOT NULL,
	[line2] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[addressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Restaurant].[OpeningHours]    Script Date: 2021-03-31 4:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Restaurant].[OpeningHours](
	[openingHoursID] [int] IDENTITY(1,1) NOT NULL,
	[fromHour] [int] NULL,
	[fromMinute] [int] NULL,
	[toHour] [int] NULL,
	[toMinute] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[openingHoursID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Restaurant].[Restaurant]    Script Date: 2021-03-31 4:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Restaurant].[Restaurant](
	[restaurantID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[addressID] [int] NOT NULL,
	[openingHoursID] [int] NULL,
	[restaurantDescription] [nvarchar](200) NOT NULL,
	[style] [nvarchar](50) NOT NULL,
	[owner] [nvarchar](50) NULL,
	[phoneNumber] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[restaurantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[getRestaurant]    Script Date: 2021-03-31 4:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getRestaurant](@username nvarchar(20))
RETURNS TABLE AS
RETURN SELECT restaurantID,name,restaurantDescription,style,owner,phoneNumber, city,zipcode,line1,line2, fromHour,fromMinute,toHour,toMinute
FROM Restaurant.Restaurant
JOIN Restaurant.RestaurantAddress ON Restaurant.RestaurantAddress.addressID = Restaurant.addressID
JOIN Restaurant.OpeningHours ON Restaurant.OpeningHours.openingHoursID = Restaurant.openingHoursID
WHERE Restaurant.owner=@username
GO
/****** Object:  Table [Restaurant].[AllergenNames]    Script Date: 2021-03-31 4:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Restaurant].[AllergenNames](
	[allergenID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[allergenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Restaurant].[Allergens]    Script Date: 2021-03-31 4:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Restaurant].[Allergens](
	[allergenID] [int] NULL,
	[foodID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Restaurant].[CategoryName]    Script Date: 2021-03-31 4:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Restaurant].[CategoryName](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Restaurant].[Food]    Script Date: 2021-03-31 4:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Restaurant].[Food](
	[foodID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](60) NOT NULL,
	[price] [float] NOT NULL,
	[rating] [float] NULL,
	[pictureID] [int] NULL,
	[categoryID] [int] NULL,
	[restaurantID] [int] NOT NULL,
	[availableFrom] [nvarchar](20) NULL,
	[availableTo] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[foodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Restaurant].[Menu]    Script Date: 2021-03-31 4:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Restaurant].[Menu](
	[menuID] [int] IDENTITY(1,1) NOT NULL,
	[restaurantID] [int] NULL,
	[categoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[menuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Restaurant].[AllergenNames] ON 

INSERT [Restaurant].[AllergenNames] ([allergenID], [name]) VALUES (1, N'Liszt')
INSERT [Restaurant].[AllergenNames] ([allergenID], [name]) VALUES (2, N'Gluten')
INSERT [Restaurant].[AllergenNames] ([allergenID], [name]) VALUES (3, N'Cukor')
SET IDENTITY_INSERT [Restaurant].[AllergenNames] OFF
GO
INSERT [Restaurant].[Allergens] ([allergenID], [foodID]) VALUES (1, 2)
INSERT [Restaurant].[Allergens] ([allergenID], [foodID]) VALUES (2, 2)
INSERT [Restaurant].[Allergens] ([allergenID], [foodID]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [Restaurant].[CategoryName] ON 

INSERT [Restaurant].[CategoryName] ([categoryID], [categoryName]) VALUES (1, N'Leves')
INSERT [Restaurant].[CategoryName] ([categoryID], [categoryName]) VALUES (2, N'Alma')
INSERT [Restaurant].[CategoryName] ([categoryID], [categoryName]) VALUES (3, N'Pizza')
SET IDENTITY_INSERT [Restaurant].[CategoryName] OFF
GO
SET IDENTITY_INSERT [Restaurant].[Food] ON 

INSERT [Restaurant].[Food] ([foodID], [name], [price], [rating], [pictureID], [categoryID], [restaurantID], [availableFrom], [availableTo]) VALUES (1, N'Husleves', 1200, 4.5, NULL, 1, 1, NULL, NULL)
INSERT [Restaurant].[Food] ([foodID], [name], [price], [rating], [pictureID], [categoryID], [restaurantID], [availableFrom], [availableTo]) VALUES (2, N'Krumpli leves', 1200, 4.3, NULL, 1, 1, NULL, NULL)
INSERT [Restaurant].[Food] ([foodID], [name], [price], [rating], [pictureID], [categoryID], [restaurantID], [availableFrom], [availableTo]) VALUES (3, N'Brokkoli leves', 1200, 4.7, NULL, 1, 1, NULL, NULL)
SET IDENTITY_INSERT [Restaurant].[Food] OFF
GO
SET IDENTITY_INSERT [Restaurant].[Menu] ON 

INSERT [Restaurant].[Menu] ([menuID], [restaurantID], [categoryID]) VALUES (7, NULL, 1)
INSERT [Restaurant].[Menu] ([menuID], [restaurantID], [categoryID]) VALUES (8, NULL, 1)
INSERT [Restaurant].[Menu] ([menuID], [restaurantID], [categoryID]) VALUES (9, NULL, 2)
SET IDENTITY_INSERT [Restaurant].[Menu] OFF
GO
SET IDENTITY_INSERT [Restaurant].[OpeningHours] ON 

INSERT [Restaurant].[OpeningHours] ([openingHoursID], [fromHour], [fromMinute], [toHour], [toMinute]) VALUES (1, 11, 0, 22, 0)
INSERT [Restaurant].[OpeningHours] ([openingHoursID], [fromHour], [fromMinute], [toHour], [toMinute]) VALUES (2, 10, 0, 23, 0)
INSERT [Restaurant].[OpeningHours] ([openingHoursID], [fromHour], [fromMinute], [toHour], [toMinute]) VALUES (3, 10, 0, 23, 0)
SET IDENTITY_INSERT [Restaurant].[OpeningHours] OFF
GO
SET IDENTITY_INSERT [Restaurant].[Restaurant] ON 

INSERT [Restaurant].[Restaurant] ([restaurantID], [name], [addressID], [openingHoursID], [restaurantDescription], [style], [owner], [phoneNumber]) VALUES (1, N'Teszt Étterem', 1, 1, N'Nagyon szép eskü nem lopott', N'Teljesen egyedi', N'AsztalVokMegint', N'+362255440')
SET IDENTITY_INSERT [Restaurant].[Restaurant] OFF
GO
SET IDENTITY_INSERT [Restaurant].[RestaurantAddress] ON 

INSERT [Restaurant].[RestaurantAddress] ([addressID], [city], [zipcode], [line1], [line2]) VALUES (1, N'Veszprém', N'8200', N'Nem lopott Utca 27', N'ASD')
INSERT [Restaurant].[RestaurantAddress] ([addressID], [city], [zipcode], [line1], [line2]) VALUES (2, N'Veszpr?m', N'8200', N'F?radt vagyok utca 11', N'3/A')
INSERT [Restaurant].[RestaurantAddress] ([addressID], [city], [zipcode], [line1], [line2]) VALUES (3, N'Veszpr?m', N'8200', N'F?radt vagyok utca 11', N'3/A')
SET IDENTITY_INSERT [Restaurant].[RestaurantAddress] OFF
GO
INSERT [Users].[Users] ([username], [password], [lastName], [firstName], [phoneNumber], [addressID], [userType], [email]) VALUES (N'AAAAA', N'a55tal', N'Vnev', N'Knev', N'+3640887799', 19, 1, N'test@email.com')
INSERT [Users].[Users] ([username], [password], [lastName], [firstName], [phoneNumber], [addressID], [userType], [email]) VALUES (N'alma', N'katica', N'Asd', N'Asd', N'36-205544878', 20, 0, N'alma@alma.com')
INSERT [Users].[Users] ([username], [password], [lastName], [firstName], [phoneNumber], [addressID], [userType], [email]) VALUES (N'AsztalVok', N'a55tal', N'Asztal', N'Balázs', N'+36205544778', 4, 1, N'aaaaaa@aaaa.com')
GO
SET IDENTITY_INSERT [Users].[UsersAddress] ON 

INSERT [Users].[UsersAddress] ([addressID], [city], [zipcode], [line1], [line2]) VALUES (1, N'Veszprém', N'8200', N'József Attila utca 34/2', N'1072')
INSERT [Users].[UsersAddress] ([addressID], [city], [zipcode], [line1], [line2]) VALUES (2, N'Veszprém', N'8200', N'József Attila utca 34/2', N'1091')
INSERT [Users].[UsersAddress] ([addressID], [city], [zipcode], [line1], [line2]) VALUES (3, N'Veszprém', N'8200', N'Egri József utca 14', NULL)
SET IDENTITY_INSERT [Users].[UsersAddress] OFF
GO
ALTER TABLE [Restaurant].[Allergens]  WITH CHECK ADD FOREIGN KEY([allergenID])
REFERENCES [Restaurant].[AllergenNames] ([allergenID])
GO
ALTER TABLE [Restaurant].[Allergens]  WITH CHECK ADD FOREIGN KEY([foodID])
REFERENCES [Restaurant].[Food] ([foodID])
GO
ALTER TABLE [Restaurant].[Food]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [Restaurant].[CategoryName] ([categoryID])
GO
ALTER TABLE [Restaurant].[Food]  WITH CHECK ADD FOREIGN KEY([restaurantID])
REFERENCES [Restaurant].[Restaurant] ([restaurantID])
GO
ALTER TABLE [Restaurant].[Menu]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [Restaurant].[CategoryName] ([categoryID])
ON DELETE SET NULL
GO
ALTER TABLE [Restaurant].[Menu]  WITH CHECK ADD FOREIGN KEY([restaurantID])
REFERENCES [Restaurant].[Restaurant] ([restaurantID])
ON DELETE SET NULL
GO
ALTER TABLE [Restaurant].[Restaurant]  WITH CHECK ADD FOREIGN KEY([addressID])
REFERENCES [Restaurant].[RestaurantAddress] ([addressID])
ON DELETE CASCADE
GO
ALTER TABLE [Restaurant].[Restaurant]  WITH CHECK ADD FOREIGN KEY([openingHoursID])
REFERENCES [Restaurant].[OpeningHours] ([openingHoursID])
GO
ALTER TABLE [Restaurant].[Restaurant]  WITH CHECK ADD FOREIGN KEY([owner])
REFERENCES [Users].[Users] ([username])
ON DELETE SET NULL
GO
ALTER TABLE [Users].[Users]  WITH CHECK ADD FOREIGN KEY([addressID])
REFERENCES [Users].[UsersAddress] ([addressID])
ON DELETE CASCADE
GO
/****** Object:  StoredProcedure [dbo].[addCategoryToMenu]    Script Date: 2021-03-31 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[addCategoryToMenu] @categoryName nvarchar(30) 
AS
DECLARE @OutputTbl TABLE (ID INT)
INSERT INTO Restaurant.CategoryName(categoryName)
OUTPUT Inserted.categoryID	
INTO @OutputTbl(ID)
VALUES(@categoryName)
DECLARE @outputClientID INT
SELECT  @outputClientID = ID FROM @OutputTbl
RETURN @outputClientID
GO
/****** Object:  StoredProcedure [dbo].[addFood]    Script Date: 2021-03-31 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[addFood] @foodName nvarchar(30) ,@price int ,@rating float ,@categoryID int ,@restaurantID int,
@availableFrom nvarchar(30), @availableTo nvarchar(30)
AS
DECLARE @OutputTbl TABLE (ID INT)
INSERT INTO Restaurant.Food(name,price,rating,pictureID,categoryID,restaurantID,availableFrom,availableTo)
OUTPUT Inserted.foodID	
INTO @OutputTbl(ID)
VALUES(@foodName,@price,@rating,NULL,@categoryID,@restaurantID,@availableFrom,@availableTo)
DECLARE @outputFoodID INT
SELECT  @outputFoodID = ID FROM @OutputTbl
RETURN @outputFoodID
GO
/****** Object:  StoredProcedure [dbo].[registerRestaurant]    Script Date: 2021-03-31 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[registerRestaurant] @usernameParam nvarchar(50),@passParam nvarchar(30),
			@lastName nvarchar(50),@fistName nvarchar(50), @phoneNumber nvarchar(20), @email nvarchar(50),
			@nameParam nvarchar(50), @restaurantDescriptionParam nvarchar(200),@styleParam nvarchar(50),
			@_city nvarchar(50),@_zipcode nvarchar(4),@_line1 nvarchar(50),@_line2 nvarchar(50),
			@_fromHour INT, @_fromMinute INT, @_toHour INT, @_toMinute INT
AS
DECLARE @OutputTbl TABLE (addressID INT, OpeningID INT)
--Register User
EXEC registerUser @usernameParam,@passParam,@email,@_city,@_zipcode,@_line1,@_line2,@lastName,@fistName,@phoneNumber,'1'
--Restaurant Address
INSERT INTO Restaurant.RestaurantAddress(city,zipcode,line1,line2)
OUTPUT Inserted.addressID
INTO @OutputTbl(addressID)
VALUES(@_city, @_zipcode,@_line1,@_line2)
DECLARE @_addressID INT
SELECT  @_addressID = addressID FROM @OutputTbl
--Opening Hours
INSERT INTO Restaurant.OpeningHours(fromHour,fromMinute,toHour,toMinute)
OUTPUT Inserted.openingHoursID
INTO @OutputTbl(OpeningID)
VALUES(@_fromHour, @_fromMinute,@_toHour,@_toMinute)
DECLARE @_openingHoursID INT
SELECT  @_openingHoursID = OpeningID FROM @OutputTbl
--Restaurant
INSERT INTO Restaurant.Restaurant(owner,name,restaurantDescription,style,phoneNumber, email,addressID,openingHoursID)
VALUES(@usernameParam,@nameParam, @restaurantDescriptionParam,@styleParam,@phoneNumber,@email,@_addressID,@_openingHoursID)
GO
/****** Object:  StoredProcedure [dbo].[registerUser]    Script Date: 2021-03-31 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[registerUser] @usernameParam nvarchar(50),@passParam nvarchar(30), @_email nvarchar(30),
			@_city nvarchar(50),@_zipCode nvarchar(4),@_line1 nvarchar(50),@_line2 nvarchar(50),
			@_lastName nvarchar(50), @_firstName nvarchar(50),@phoneNumber nvarchar(20), @_userType int
AS
DECLARE @OutputTbl TABLE (ID INT)
INSERT INTO Users.UsersAddress(city,zipCode,line1,line2)
OUTPUT Inserted.addressID	--WHY DOEST IT START AT 10???
INTO @OutputTbl(ID)
VALUES(@_city, @_zipCode,@_line1,@_line2)
DECLARE @_addressID INT
SELECT  @_addressID = ID FROM @OutputTbl

INSERT INTO Users.Users VALUES(@usernameParam,@passParam,@_lastName,@_firstName,@phoneNumber,
@_addressID,@_userType,@_email)
GO
USE [master]
GO
